body {
	font-family: sans-serif;
}
dt {
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
}
a img {
	text-decoration: none;
	border: none;
}
#logo {
	text-align: center;
	margin-bottom: 1.5em;
}
#titleblock {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #DF0451;
	color: #FFFF00;
	padding: 0.2em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
	.titleblock a {
		color: #FFFF00;
		text-decoration: none;
	}
	.titleblock a:hover {
		color: #FFFF00;
		text-decoration: underline;
	}
	#red-upperleft {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	#red-lowerleft {
		position: absolute;
		bottom: 0px;
		left: 0px;
	}
	#red-upperright {
		position: absolute;
		top: 0px;
		right: 0px;
	}
	#red-lowerright {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
	.title {
		vertical-align: middle;
	        font-weight: normal;
		font-family: serif;
		font-size: 22px;
	}

#legend {
	margin: 1em;
	border: 1px black solid;
	padding: .5em;
	background-color: #ddd;
	/*
	*/
}
#legend p {
	text-decoration: underline;
}
#legend p:hover {
	color: blue;
}
#legend-title {
	margin: 0;
}
#legend-list {
	display: none; /* default state */
	font-size: x-small;
}
#legend-list dt {
	display: compact;
}
#legend-list dd {
	display: block;
	margin: 0 0 0 8em;
}
#explain {
	margin: 1em;
	border: 1px black solid;
	padding: .5em;
	background-color: #ddd;
	/*
	*/
}
#explain p {
	text-decoration: none;
}
#explain p:hover {
/*	color: blue;*/
}
.explain-bold { 
    font-size: 1.17em;
    font-weight: bolder;
}

#explain-title {
	margin: 0;
}
#explain-list {
	display: none; /* default state */
	font-size: x-small;
}
#explain-list dt {
	display: compact;
}
#explain-list dd {
	display: block;
	margin: 0 0 0 8em;
}

.inverse {
	margin-left: 2em;
	margin-right: 2em;
/*	border: 0px black solid; */
	padding-left: .5em;
	background-color: #ddd;
    font-size: 50%;
	/*
	*/
}
.inverse p {
	text-decoration: none;
}
.inverse p:hover {
/*	color: blue;*/
}
.explain-bold { 
    font-size: 1.17em;
    font-weight: bolder;
}

.toggle-msg {
	font-size: .83em; /* SMALL */
}
.package {
	margin: 1em;
	border: 1px black solid;
	padding: .5em;
}
.package.odd {
	background-color: #ddf;
}
.package.even {
	background-color: #fff;
}
.canHide {
       display: block;
}
.startHidden .canHide {
       display: none;
}
.package .subject {
	cursor: pointer;
	font-size: 1.17em;
	font-weight: bolder;
	margin-bottom: 0.7em;
}
/*.package .bts,.pts,.notes,.origin {*/
.package .infobox {
	float: right;
	clear: both;
	max-width: 40%;
	margin: 0 0 0.5em 1em;
}
.package .notes {
	padding: 0.5em;
	border: solid 2px red;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.5em;
}
.package .origin {
	padding: 0.5em;
	border: dashed 1px black;
	margin-bottom: 0.5em;
}
.package .infolinks {
	padding: 0.5em;
	border: dashed 1px black;
	text-align: center;
	margin-bottom: 0.5em;
}
.package .bts {
	margin-right: 1em;
}
.package .pkgs {
	border: 1px solid black;
}

.package .pkgs td {
	padding: 0.4em;
}
.package .pkgs td.pkg-name {
	font-weight: bolder;
}
.package .pkgs td.pkg-arches,td.pkg-ver {
	font-size: .83em; /* SMALL */
}
.package .dak-command:before {
	content: "# ";
}
.package .dak-command {
	margin: 0.5em 0;
	padding: 0.2em;
	background: #eee;
	font-family: monospace;
	font-size: 1em;
    clear: right;
}

.package .uploader {
	margin: 0.5em 0;
	padding: 0.2em;
	font-family: monospace;
	font-size: 1em;
    clear: right;
}

#outer {
    background-color: #FFFFFF;
    width: auto;
    /* border:solid white 2px; */
}

#inner {
    margin: -2px;
    margin-top: 0;
    width: 100%;
    background: #FFFFFF;
    /* overflow: auto; */
}

#leftcol {
    float: left;
    margin: 0em 0.4em 0 0;
    padding-left: 0;
    padding-bottom: 1em;
    width: 12em;
    background: #BBDDFF;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #BBDDFF;
    /* overflow: auto; */
}
#leftcol a:link, #leftcol a:visited {
    display: block;
}
#leftcol a:hover {
    background-color: #DDEEFF;
    /* background-color: #FFFFFF; */
}
#leftcol ul {
    margin: 2px;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
}
#leftcol li ul {
    display: inline;
}
#leftcol ul li {
    padding: 0.2em 0;
}
#leftcol ul ul {
    font-size: 0.9em;
    margin: 0;
}
#leftcol ul li a {
    line-height: 1.2em;
    padding-right: 0.5em;
    /* padding: 0.2em 0 0.3em 0em; */
}
#leftcol ul ul li a {
    font-weight: normal;
    padding: 0.1em 0.5em;
    line-height: 1.1em;
}
#leftcol ul ul li {
    padding-top: 0;
}
#leftcol p {
    margin-left: 2px;
    margin-right: 2px;
}
#leftcol p a {
    display: block;
    margin: 0;
}
#leftcol p img {
    margin-left: 1em;
}
#leftcol .menuselected {
    color: #BF1238;
}
#leftcol ul ul .menuselected {
    text-indent: 0.5em;
}

#maincol {
    background: #FFFFFF;
    margin-left: 12em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

#leftcol {
    -moz-border-radius: 15px;
    /* this goes to the end as the css validator does not like it
    will be replaced by border-radius with css3 */
}
